body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#supportHero{
  background-color: #387ed1;
  color: white;
}

#supportHero a{
  color: white;
  padding: 0;
  padding-left: 10px;
  font-size: 18px;
  text-decoration: none; /* Remove the default underline */
  border-bottom: 2px solid currentColor; /* Create a custom underline */
  padding-bottom: 4px; 
  margin: 0;
}

#SupportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  border: none;

}

#supportHero li{
  line-height: 50px;
}

#section{
  padding-top: 0;
}